<!DOCTYPE html>
<html>
<head>
  <title>Access Denied</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/style.css" />
</head>
<body class="container center-align full-page-center">

  <div class="alert" style="max-width: 500px; text-align: center;">
    <h5 class="red-text text-darken-2">Access Denied</h5>
    <p>Admins only. Please <a href="/login">log in</a> with an admin account.</p>
  </div>

  <a href="/login" class="btn red btn-wide">Go to Login</a>

</body>
</html>
