
<div class="container" style="margin-top: 60px;">
  <h4>Contact Us</h4>
  <p>Email: support@foodlens.app</p>
  <p>Phone: +61 400 000 000</p>
  <p>Address: Deakin University, Victoria, Australia</p>
</div>
