<!DOCTYPE html>
<html>
<head>
  <title>FoodLens Dashboard</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <style>
    body {
      padding: 2rem;
    }
    canvas {
      max-width: 600px;
      margin: auto;
      height: 400px !important;
    }
  </style>
</head>
<body>

  <div class="container center-align">
    <h4>Food Insecurity Types Distribution</h4>
    <canvas id="pieChart"></canvas>
  </div>

    <!-- Back Button -->
  <div class="center-align" style="margin-top: 2rem;">
    <a href="/" class="btn blue">Back to Home</a>
  </div>
  
  <script src="/script_type.js"></script>
</body>
</html>
